body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: sans-serif;
    color: white;
}

flexbox {
    display: flex;
    border: 1px solid white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#header {
    height: 10%;
}

#main {
    height: 80%;
}

#footer {
    height: 10%;
    justify-content: space-evenly;
}