
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    background-color: black;
    font-family: Lexend, sans-serif;
    color: white;
    overflow-x: hidden;
    padding-top: 15vh;
}

#fixed_header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px red solid;
    top: 0;
    left: 0;
    width: 100vw;
    height: 17vh;
    font-size: 8vw;
    text-overflow: clip;
    z-index: 999;
    background-color: black;
}

.main_page-content {
    display: flex;
    width: 100vw;
    height: 83vh;
    border: 1px blue solid;
    justify-content: center;
}

.main_page-content h2 {
    font-size: 5vw;
}

#about-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    display: flex;
    height: 70%;
    justify-content: space-evenly;
    font-size: 2.5vw;
    min-width: 40vw;
    border: 1px greenyellow solid;
    padding: 1em;
    flex-wrap: wrap;
}

#download {
    width: 100vw;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

#download_button {
    padding: 1em;
    border-radius: 15px;
    background: linear-gradient(153deg, rgba(43,121,9,1) 29%, rgba(0,168,255,1) 66%, rgba(0,168,255,1) 66%); 
    color: black;
    margin: 1px;
}

#download_button:hover {
    transition: .7s;
    margin: 0;
    border: 1px white solid;
    color: white;
}